<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd" >
<log4j:configuration>
	<appender name="stdout" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy/MM/dd HH:mm:ss,SSS} [%t] %-5p %c %x - %m%n"/>
		</layout>
	</appender>
    <appender name="ASYNC" class="org.apache.log4j.AsyncAppender">
            <param name="BufferSize" value="500"/>
            <appender-ref ref="file_logger"/>
            <appender-ref ref="stdout"/>
    </appender>
    <appender name="file_logger" class="org.apache.log4j.RollingFileAppender">
        	<param name="MaxFileSize" value="10MB"/>
        	<param name="MaxBackupIndex" value="10"/>
        	<param name="File" value="./logs/kss_logs.log" />
        	<param name="Append" value="true" />
        	<layout class="org.apache.log4j.PatternLayout">
          		<param name="ConversionPattern" value="%d{yyyy/MM/dd HH:mm:ss,SSS} %t %-5p %c{2} %x - %m%n"/>
        	</layout>
   </appender>

	<!--<logger name="za.co.discovery.security.camanager.services" additivity="false">-->
    		<!--<level value="info" />-->
    		<!--<appender-ref ref="ASYNC"/>-->
	<!--</logger>-->

	<root>
		<priority value="info"></priority>
		<appender-ref ref="ASYNC"/>
	</root>

</log4j:configuration>